{{define "nav"}}
    <nav class="app" hx-boost="true">
        <ul>
            <li>
                <a href="/">
                    <i class="fa-solid fa-house home-icon"></i><strong>Issueshift</strong>
                </a>
            </li>
        </ul>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/signin" role='button'>Signin</a></li>
            <li><a href="/#" role='button'>Signup</a></li>
        </ul>
    </nav>
{{end}}
