@import "nav.css";
@import "auth.css";
@import "home.css";
@import "create-task.css";

.app {
    padding: 0 2rem;
}


.error {
    color: darkred;
}

@media screen and (max-width: 480px) {
    .app {
        padding: 0;
    }
}
